rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /forms/{form} {
    allow get, update: if 
    	resource.data.filled==false
      || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
      allow list, create, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin
    }
    
    match /users/{user} {
      allow get: if true;
      allow list: if false;
      allow write: if false;
    }
  }
}