<button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" routerLink="/form/create"
    class="add-button">
    <mat-icon>add</mat-icon>
</button>

<mat-card *ngIf="forms$ | async as forms">
    <mat-list>
        <ng-container *ngFor="let form of forms; let lastItem = last;">
            <mat-list-item>
                <div class="row">
                    <div class="col name-div">
                        {{form.personalInfo.fullName}}
                    </div>
                    <div class="col-auto">
                        <button mat-button color="accent" title="زیاتر">
                            <mat-icon>web_asset</mat-icon>
                        </button>
                        <button mat-button color="accent" title="چاككردن" [routerLink]="['/form/update',form.id]">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button color="warn" title="سڕینەوە" (click)="delete(form.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-button color="accent" title="لەبەرگرتنەوەی بەستەر" (click)="copyLink(form.id)">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider *ngIf="!lastItem"></mat-divider>
        </ng-container>
    </mat-list>
</mat-card>