<div class="row">
    <div class="col-lg-4 col-sm">
        <mat-form-field class="w-100" *ngIf="!fillFormMode">
            <input type="text" matInput placeholder="ناو" name="fullName" ngModel [(ngModel)]="data.fullName" required>
        </mat-form-field>

        <p *ngIf="fillFormMode" class="fullname-text text-primary">{{data?.fullName}}</p>
    </div>

    <mat-form-field class="col-lg-4 col-sm">
        <input type="text" matInput placeholder="پلەی زانستی" name="scienceRank" ngModel [(ngModel)]="data.scienceRank" [required]="fillFormMode">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <input type="text" matInput placeholder="زانكۆ" name="university" ngModel [(ngModel)]="data.university" [required]="fillFormMode">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <input type="number" matInput placeholder="تەمەن" ngModel [(ngModel)]="data.age" name="age" [required]="fillFormMode">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <mat-label>ڕەگەز</mat-label>
        <mat-select [(ngModel)]="data.gender" name="gender" ngModel [required]="fillFormMode">
            <mat-option value="نێر">
                نێر
            </mat-option>
            <mat-option value="مێ">
                مێ
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <mat-label>ئاستی خوێندن</mat-label>
        <mat-select [(ngModel)]="data.educationLevel" name="educationLevel" ngModel [required]="fillFormMode">
            <mat-option></mat-option>
            <mat-option value="دیپلۆم یان كەمتر">
                دیپلۆم یان كەمتر
            </mat-option>
            <mat-option value="دیپلۆمی باڵا">
                دیپلۆمی باڵا
            </mat-option>
            <mat-option value="بەكالۆریۆس">
                یەكالۆریۆس
            </mat-option>
            <mat-option value="ماستەر">
                ماستەر
            </mat-option>
            <mat-option value="دوكتۆرا">
                دوكتۆرا
            </mat-option>
            <mat-option value="یاریدەدەری پرۆفیسۆر">
                یاریدەدەری پرۆفیسۆر
            </mat-option>
            <mat-option value="پرۆفیسۆر">
                پرۆفیسۆر
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <mat-label>پێشینەی ماوەی كاركردن</mat-label>
        <mat-select [(ngModel)]="data.jobExperience" name="jobExperience" ngModel [required]="fillFormMode">
            <mat-option value="كەمتر لە 5 ساڵ">
                كەمتر لە 5 ساڵ
            </mat-option>
            <mat-option value="5 - 10 ساڵ">
                5 - 10 ساڵ
            </mat-option>
            <mat-option value="10 - 15 ساڵ">
                10 - 15 ساڵ
            </mat-option>
            <mat-option value=" 15 - 20 ساڵ">
                15 - 20 ساڵ
            </mat-option>
            <mat-option value="20 - 25 ساڵ">
                20 - 25 ساڵ
            </mat-option>
            <mat-option value="25 ساڵ سەرووتر">
                25 ساڵ سەرووتر
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <mat-label>جۆری پیشە</mat-label>
        <mat-select [(ngModel)]="data.jobType" name="jobType" ngModel [required]="fillFormMode">
            <mat-option value="ئیداری">
                ئیداری
            </mat-option>
            <mat-option value="بارەگا (دەزگا)یی">
                بارەگا (دەزگا)یی
            </mat-option>
            <mat-option value="فێركاری">
                فێركاری
            </mat-option>
            <mat-option value="جێبەجێكاری">
                جێبەجێكاری
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm">
        <mat-label>بەشی پسپۆڕی</mat-label>
        <mat-select [(ngModel)]="data.experienceType" name="experienceType" ngModel [required]="fillFormMode">
            <mat-option value="پەروەردەی وەرزش">
               پەروەردەی وەرزش
            </mat-option>
            <mat-option value="بەشەكانی دیكە">
               بەشەكانی دیكە
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>