<div class="margin-bottom"> 
    <app-statistics-question-group-view [data]="statisticQuestionGroup1"></app-statistics-question-group-view>
</div>

<div class="margin-bottom">
    <app-statistics-question-group-view [data]="statisticQuestionGroup2"></app-statistics-question-group-view>
</div>

<div class="margin-bottom">
    <app-statistics-question-group-view [data]="statisticQuestionGroup3"></app-statistics-question-group-view>
</div>

<div>
    <app-statistics-question-group-view [data]="statisticQuestionGroup4"></app-statistics-question-group-view>
</div>